nav li {
  display: inline-block;
  padding: 10px 20px;
}
nav li:hover {
  color: #9936e4;
}

.post {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.post-detail {
  width: 520px;
  padding: 10px;
}
.post-detail article img {
  width: 100%;
  border-radius: 2px;
}
.post-detail article h1 {
  font-size: 18px;
  font-weight: bold;
}
.post-detail article h2 {
  font-size: 16px;
  font-weight: bold;
}
.post-detail article h3 {
  font-size: 14px;
  font-weight: bold;
}
.info {
  width: 600px;
  padding: 10px;
}
.info .user {
  display: flex;
  align-items: center;
}
.info .avatar,
.info img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.info span {
  padding: 10px;
}
.info .uid {
  color: #bbb;
}
.info h1 {
  padding: 10px;
  display: inline-block;
}

.mark {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.ep {
  width: 800px;
  height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.video-list {
  width: 600px;
  float: left;
  padding: 10px;
}
.video-list .item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.video-list .item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 6px 10px;
}
.video-list .item span {
  padding: 10px;
}
.video-list .item:nth-of-type(even) {
  background: #f4f6fa;
}

.footer {
  background: #001935;
  color: #fff;
  display: flex;
  padding: 50px 30px;
}
.footer a {
  color: #fff;
  display: block;
  padding: 5px;
}
.footer a li {
  text-align: center;
  padding: 10px;
}
.footer a i {
  display: block;
  margin: 10px;
}
.footer .wrap {
  display: flex;
  align-items: center;
}
.footer .title {
  display: flex;
  align-items: center;
  flex: 3;
}
.footer .title img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.footer .title h1 {
  font-size: 25px;
  font-weight: normal;
  padding: 20px;
}
.footer .links {
  flex: 3;
}
.footer .links li {
  width: 50%;
  display: inline-block;
}
.footer .icons {
  flex: 4;
  border-left: 1px solid #253c56;
  display: flex;
  justify-content: center;
}
.footer .icons li {
  padding: 0 20px;
  display: inline-block;
}
.footer .icons li .icon-font {
  color: #fff;
  font-size: 30px;
  padding: 12px;
  border-radius: 50%;
}
.footer .icons li .icon-qq {
  background: #32e3ff;
}
.footer .icons li .icon-weibo {
  background: #ff3261;
}
.footer .icons li .icon-xiazai {
  background: #c332ff;
}

.call {
  background: #9936e4;
  color: #fff;
  margin: 0 auto;
  padding: 2px 50px;
  display: inline-block;
  border-radius: 0 0 2px 2px;
}
* {
  padding: 0;
  margin: 0;
}
body,
:host {
  font: 14px '14px -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif';
  color: #444;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #444;
}
li {
  list-style: none;
}
input,
button {
  outline: none;
}
.wrap {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
h1 {
  font-size: 28px;
  font-weight: normal;
  padding: 30px 0;
}
img {
  background: #f4f6fa;
}

