.recommend
  width 850px
  h1
    font-size 30px
    font-weight normal
    padding 30px 0
  li
    width 20%
    display inline-block
  .title
    width 150px
    height 40px
    overflow hidden
    padding: 10px 0
  .cover
    width 150px
    height 210px
    img
      width 150px
      height 210px