@import "../../public/css/var.styl"

.rank
  width 310px
  .title
    padding: 0 10px
    height 21px
    overflow hidden
  h1
    font-size 30px
    font-weight normal
    padding 30px 0
  .cover
    width 150px
    height 210px
    img
      width 150px
      height 210px
  .current
    display flex
    position relative
    padding-bottom 12px
    .title
      font-size: 16px
    .bom
      position absolute
      display flex
      align-items baseline
      bottom 12px
      .tag
        font-size: 12px
        padding 0 10px
        color: $grey
      .idx
        font-size: 60px
        color: $theme
        font-weight: bold
        position: relative
        bottom: -18px
  li
    display flex
    padding: 6px
    span
      font-size:16px
      font-weight bold
      color: $grey
    .active
      color: $theme


