* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font: 14px '黑体 Neue, HelveticaNeue, Helvetica, Arial, sans-serif';
  color: 444;
}

input{
  outline: none;
}

.wrap{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}