.recommend
  width 850px
  li
    width 20%
    display inline-block
  .title
    width 150px
    height 40px
    overflow hidden
    padding: 10px 0
  .cover
    width 150px
    height 210px
    img
      width 150px
      height 210px