* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font: 14px '14px -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif';
  color: #444;
}

input{
  outline: none;
}

.wrap{
  width: 1160px;
  margin: 0 auto;
  position: relative;
}