@import "../../common/css/var.styl"

.header
  position absolute 
  color #fff 
  top 0
  left 0
  right 0
  text-shadow 0 1px 1px rgba(0,0,0,.24)
  .wrap 
    display flex
    align-items center
  .logo
    padding 10px 20px
    img 
      margin 0 10px
      width 40px
      display inline-block
    h1 
      font-size 14px
      display inline-block
      padding-bottom 5px
  a 
    color #fff 
    padding 2px 10px
    border-radius 10px
    transition .3s
  a:hover
    background $theme
  .search 
    margin-left 20px
    input 
      padding 8px 10px
      border-radius 2px
      border 0px 
      background rgba(255,255,255,.7)
      width 250px
  .biu 
    position:absolute 
    right 0