@import "../../public/css/var.styl"

.footer
  background $bg
  color: #fff
  display flex
  .title
    font-size: 30px
    font-weight normal
  .links li
    float left
  .icons li
    padding: 20px
    display inline-block
    .icon-font
      color: #fff
      font-size: 40px
      padding: 15px
      border-radius: 50%
    .icon-qq
      background #32e3ff
    .icon-weibo
      background #ff3261
    .icon-xiazai
      background: #c332ff